{% extends "base.html" %}
{% block content %}
<style type="text/css">

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 268px;
}
.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}
/* -------------------- Rounded Corners */
.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* -------------------- Colors: Background */
.slate {
  background-color: #ddd;
}
.green {
  background-color: #779126;
}
.blue {
  background-color: #3b8ec2;
}
.yellow {
  background-color: #eec111;
}
.black {
  background-color: #000;
}
/* -------------------- Colors: Text */
.slate select {
  color: #000;
}
.green select {
  color: #fff;
}
.blue select {
  color: #fff;
}
.yellow select {
  color: #000;
}
.black select {
  color: #fff;
}
/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
  width: 378px;
  *width: 350px;
  *background: #58B14C;
  -webkit-appearance: none;
}
#mainselection {
  overflow: hidden;
  width: 350px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow,
select#soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}
select#soflow-color {
  color: #fff;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
  background-color: #779126;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
}
</style>
<script type="text/javascript">
$(document).ready(function() {



    $("#add_new_user").click(function(){
    	
        $.ajax({
        	type:'POST',
        	data:{
        		datasheet_name: $('#new_datasheet_name>option:selected').text(),
        		user_name:$('#new_user_name').val(),
        		csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        	},
        	success:function(){
        	location.reload();
        	}
        })
    }); 
    //Find and remove selected table rows


        $(".delete_row").click(function(){
        	
        	var datasheet=$(this).parents("tr").children(".datasheet_name").text();
  			var username=$(this).parents("tr").children(".user_name").text();      	
        	
        	$.ajax({
        		type:'POST',
        		beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
    },
        		data:{
        			datasheet_name: datasheet,
        			user_name:username,

        		},

        	headers: { 'X-METHODOVERRIDE': 'DELETE' },
        	        		success:function(){
        			
        	location.reload();
        	},
        	

        	})
        	// $(this).parents("tr").remove();
        });



        	

        });


	
</script>

<h1>Welcome {{ username }} </h1>
{% if data_admin_all %}
<h3>Manage Access</h3>
<table class='table table-bordered'>
	<thead>
		<tr>
			
			<td style="width:1000px;">


<form action='/home/' method="post">
  {% csrf_token %} 
  
  <select name="datasheet_admin_name" id="select_datasheet">
    <option selected="selected" disabled>Datasheet Name:</option>
{% for d in data_admin_all %}
    
    <option value="{{ d.datasheet_name }}"{% ifequal d.datasheet_name data_admin_selected %} selected="selected"{% endifequal %}>{{ d.datasheet_name }}</option>
    {% endfor %}
  </select>
 
  <input type="submit" value="Select">
</form>


			</td>
			<td>Username    </td>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{% for data_access in data_chosen %}
		<tr>
		
			<td class='datasheet_name' id='{{data_access.datasheet_name}}-{{ data_access.user_name }}'>{{ data_access.datasheet_name }}</td>
			<td class='user_name'>{{ data_access.user_name }}</td>
			<td>
			  <button class="btn btn-danger" class='delete_row' style="margin:5px;" type="button" aria-expanded="true">
    Delete
  </button>
		</td>
		</tr>
	{% endfor %}

	<tr>
		
			<td>
			
				  <select name="new_datasheet_admin_name" id="new_datasheet_name">
    <option selected="selected" disabled>Datasheet Name:</option>
{% for d in data_admin_all %}
    
    <option value="{{ d.datasheet_name }}"{% ifequal d.datasheet_name data_admin_selected %} selected="selected"{% endifequal %}>{{ d.datasheet_name }}</option>
    {% endfor %}

  </select>
  
			</td>

			<td><input type="text" name="new_user_name" id="new_user_name"></td>
			<td>
			  <button class="btn btn-success" style="margin:5px;" type="button" id='add_new_user' aria-expanded="true">
    Add new user
  </button>
		</td>
		</tr>


	</tbody>
</table>


 {% endif %}




{% if data_access %}
<h3>Access</h3>
<ul>
{% for data_access_info in data_access %}
<li><a href="/datasheet/{{data_access_info.datasheet_name}}">{{ data_access_info.datasheet_name }}</a></li>
{% endfor %}
</ul>


{% endif %}
{% endblock %}
